DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=cie_market
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DATABASE_URL=
DB_CONN_MAX_AGE=60
DB_SSL_REQUIRE=False

PORT=8000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=auto
AWS_S3_ADDRESSING_STYLE=path

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_EXP_DELTA_MINUTES=60
