# Rename this file to .env and fill in the values
# Django Environment Variables
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE='config.settings'
DJANGO_SECRET_KEY="your-secret-key-here"

# PostgreSQL Database Configuration
DB_HOST="your-db-host-here"
DB_PORT="your-db-port-here"
DB_NAME="your-db-name-here"
DB_USER="your-db-user-here"
DB_PASSWORD="your-db-password-here"
# DB_URL="your-db-url-here"

# JWT Configuration
JWT_SECRET="your-jwt-secret-here"
JWT_ALGORITHM="HS256"
JWT_EXP_DELTA_MINUTES=1440
